<div class="container">
    <div class="col-md-4 mt-4" style="margin: 0 auto;">
        <form>
            <h2 style="text-align: center;" class="my-2">Sign In</h2>
            <div class="alert-err"></div>
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" name="username" required>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col"><button class="col-3 btn btn-primary btn-sm float-left">Sign In</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<script>

    const form = document.querySelector('form')

    form.addEventListener('submit', async (e) => {
        e.preventDefault()

        const username = form.username.value
        const password = form.password.value

        await fetch('/signin', {
            method: 'POST',
            body: JSON.stringify({ username, password }),
            headers: { 'Content-Type': 'application/json' }
        })
            .then(async res => await res.json())
            .then(data => {
                if (data.user.role == 'user') {
                    location.assign('/')
                } else if (data.user.role == 'admin') {
                    location.assign('/admin-index')
                } else if (data.err) {
                    var alertErr = document.querySelector('.alert-err')
                    alertErr.classList.add('alert')
                    alertErr.classList.add('alert-danger')
                    alertErr.textContent = data.err
                }
            })
            .catch(err => console.log(err))
    })
</script>